# ==========================================
# RAFIKI: BACKEND ENVIRONMENT VARIABLES
# ==========================================

# Your Hugging Face Token (Must have Read access to your private model and datasets)
# Get yours here: https://huggingface.co/settings/tokens
HF_TOKEN="hf_your_token_here"

# The Hugging Face model repository ID for your fine-tuned model
HF_MODEL_ID="Saad-Elouakate/rafiki-qwen-2.5-finetune"
HF_MODEL_ID="Qwen/Qwen2.5-7B-Instruct"
CHROMA_DB_DIR=./chroma_db_cache

# Allowed origins for CORS. Comma-separated list.
# For local dev use http://localhost:3000.
ALLOWED_ORIGINS="http://localhost:3000"

# (Optional) Port for the FastAPI backend server to run on
PORT=8000


# ==========================================
# RAFIKI: FRONTEND ENVIRONMENT VARIABLES
# ==========================================

# URL of the FastAPI backend.
# For local dev: http://localhost:8000
NEXT_PUBLIC_API_URL="http://localhost:8000"


VL_MODEL_ID="meta-llama/Llama-3.2-11B-Vision-Instruct"